/* You can add global styles to this file, and also import other style files */
/* We bootstrap an Angular Application in the main.ts file. */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: #5d6d7e;
  font-family: 'Lobster', cursive;
}


/* found in goal.component.html */
hr{
  width: 95%;
  color: black;
}
h1.goal {
  text-align: center;
  font-size: 50px;
}
.goals{
  text-align: center;
}
#warning{
  color: red;
  font-size: 25px;
}
#footer{
  background-color: black;
  margin: 2em 0 0 0;
  padding: 2em 0 0.1em 0;

}


/* found in app.component.html */
#welcometitle{
  font-size: 70px;
  font-family: 'Libre Barcode 128 Text', cursive;
  margin:1em 0 1em 0;

}
